<section class="contact-page">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="contact-page__inner wow slideInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="section-title text-center">
                        <div class="section-title__tagline">
                            <span class="left"></span>
                            <h4>Send Us Message</h4><span class="right"></span>
                        </div>
                        <h2 class="section-title__title">Have Any Questions Let’s <br>Started Talk</h2>
                    </div>
                    <form class="contact-page__form contact-form-validated">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                <div class="contact-page__input-box">
                                    <input type="text" placeholder="Your name" name="name">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                <div class="contact-page__input-box">
                                    <input type="text" placeholder="Phone number" name="phone">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                <div class="contact-page__input-box">
                                    <input type="email" placeholder="Email address" name="email">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                <div class="contact-page__input-box">
                                    <input type="email" placeholder="Subject" name="Subject">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="contact-page__input-box">
                                    <textarea name="message" placeholder="Write message"></textarea>
                                </div>
                                <div class="contact-page__btn">
                                    <button type="submit">
                                        <span class="thm-btn">Send Us Message<i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>