<section class="banner-two clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="banner-two__inner-box">
                    <div class="shape1 float-bob-y"><img src="assets/images/shapes/thm-shape-6.png" alt="img" />
                    </div>
                    <div class="shape2 zoominout"><img src="assets/images/shapes/thm-shape-7.png" alt="img" />
                    </div>
                    <div class="shape3  zoom-fade"><img src="assets/images/shapes/thm-shape-2.png" alt="img" />
                    </div>
                    <div class="shape4 zoominout"><img src="assets/images/shapes/thm-shape-5.png" alt="img" />
                    </div>
                    <div class="banner-two__content">
                        <div class="section-title">
                            <div class="section-title__tagline wow slideInUp animated" data-wow-delay="0.2s" data-wow-duration="1500ms">
                                <span class="left"></span>
                                <h4>Consulting Agency</h4>
                            </div>
                            <h2 class="section-title__title wow slideInUp animated" data-wow-delay="0.3s" data-wow-duration="1500ms">Marketing <br>Consulting</h2>
                        </div>
                        <p class="banner-two__text wow slideInUp animated" data-wow-delay="0.4s" data-wow-duration="1500ms">Digital, business & technology consulting <br>for
                            business resilience</p>
                        <div class="banner-two__btn wow slideInUp animated" data-wow-delay="0.5s" data-wow-duration="1500ms">
                            <a routerLink="/contact" class="thm-btn">Free Consultation <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="banner-two__banner-img clearfix">
                        <div class="banner-two__banner-img1">
                            <img src="assets/images/backgrounds/banner-img2.png" alt="img" />
                        </div>
                        <div class="banner-two__banner-img2 wow slideInRight" data-wow-delay="500ms" data-wow-duration="2500ms">
                            <img src="assets/images/backgrounds/banner-img3.png" alt="img" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>