<section class="service-one clearfix">
    <div class="container">
        <div class="section-title">
            <div class="section-title__tagline">
                <span class="left"></span>
                <h4>Popular Service</h4><span class="right"></span>
            </div>
            <h2 class="section-title__title">Take a Look Our Unmatched<br>Consulting Approach</h2>
        </div>
        <div class="service-one__tabs tabs-box">
            <ul ngbNav #nav="ngbNav" class="tab-buttons clearfix list-unstyled">
                <li [ngbNavItem]="1">
                    <a class="tab-btn thm-btn" ngbNavLink>Strategy & Innovation</a>
                    <ng-template ngbNavContent>
                        <div class="row clearfix">
                            <div class="image-col col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                <div class="inner">
                                    <div class="service-one__img">
                                        <img src="assets/images/services/service-v1-img1.jpg" alt="img" />
                                    </div>
                                </div>
                            </div>
                            <div class="text-col col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                <div class="inner">
                                    <div class="service-one__right">
                                        <h2 class="service-one__right-title">Management Consulting and <br>Strategy
                                            Consulting</h2>
                                        <p class="service-one__right-text">Sed ut perspiciatis unde omnis iste natus
                                            error sit voluptem accusantium doloremu laudantium totam rem aperiam
                                            eaque upsa quae abillo inventore veritatis architecto</p>
                                        <ul class="service-one__right-list list-unstyled">
                                            <li><i class="fa fa-check-circle" aria-hidden="true"></i>Static
                                                Innovations</li>
                                            <li><i class="fa fa-check-circle" aria-hidden="true"></i>Consulting &
                                                Advisory</li>
                                            <li><i class="fa fa-check-circle" aria-hidden="true"></i>Turnaround
                                                Situations</li>
                                        </ul>
                                        <div class="buttons">
                                            <a routerLink="/services" class="thm-btn service-one-btn">Read
                                                More<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a class="tab-btn thm-btn" ngbNavLink>Quality Compliance</a>
                    <ng-template ngbNavContent>
                        <div class="row clearfix">
                            <div class="image-col col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                <div class="inner">
                                    <div class="service-one__img">
                                        <img src="assets/images/services/service-v1-img1.jpg" alt="img" />
                                    </div>
                                </div>
                            </div>
                            <div class="text-col col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                <div class="inner">
                                    <div class="service-one__right">
                                        <h2 class="service-one__right-title">Management Consulting and <br>Strategy
                                            Consulting</h2>
                                        <p class="service-one__right-text">Sed ut perspiciatis unde omnis iste natus
                                            error sit voluptem accusantium doloremu laudantium totam rem aperiam
                                            eaque upsa quae abillo inventore veritatis architecto</p>
                                        <ul class="service-one__right-list list-unstyled">
                                            <li><i class="fa fa-check-circle" aria-hidden="true"></i>Static
                                                Innovations</li>
                                            <li><i class="fa fa-check-circle" aria-hidden="true"></i>Consulting &
                                                Advisory</li>
                                            <li><i class="fa fa-check-circle" aria-hidden="true"></i>Turnaround
                                                Situations</li>
                                        </ul>
                                        <div class="buttons">
                                            <a routerLink="/services" class="thm-btn service-one-btn">Read
                                                More<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="3">
                    <a class="tab-btn thm-btn" ngbNavLink>Sales & Marketing</a>
                    <ng-template ngbNavContent>
                        <div class="row clearfix">
                            <div class="image-col col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                <div class="inner">
                                    <div class="service-one__img">
                                        <img src="assets/images/services/service-v1-img1.jpg" alt="img" />
                                    </div>
                                </div>
                            </div>
                            <div class="text-col col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                <div class="inner">
                                    <div class="service-one__right">
                                        <h2 class="service-one__right-title">Management Consulting and <br>Strategy
                                            Consulting</h2>
                                        <p class="service-one__right-text">Sed ut perspiciatis unde omnis iste natus
                                            error sit voluptem accusantium doloremu laudantium totam rem aperiam
                                            eaque upsa quae abillo inventore veritatis architecto</p>
                                        <ul class="service-one__right-list list-unstyled">
                                            <li><i class="fa fa-check-circle" aria-hidden="true"></i>Static
                                                Innovations</li>
                                            <li><i class="fa fa-check-circle" aria-hidden="true"></i>Consulting &
                                                Advisory</li>
                                            <li><i class="fa fa-check-circle" aria-hidden="true"></i>Turnaround
                                                Situations</li>
                                        </ul>
                                        <div class="buttons">
                                            <a routerLink="/services" class="thm-btn service-one-btn">Read
                                                More<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="4">
                    <a class="tab-btn thm-btn" ngbNavLink>Data Analytics</a>
                    <ng-template ngbNavContent>
                        <div class="row clearfix">
                            <div class="image-col col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                <div class="inner">
                                    <div class="service-one__img">
                                        <img src="assets/images/services/service-v1-img1.jpg" alt="img" />
                                    </div>
                                </div>
                            </div>
                            <div class="text-col col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                <div class="inner">
                                    <div class="service-one__right">
                                        <h2 class="service-one__right-title">Management Consulting and <br>Strategy
                                            Consulting</h2>
                                        <p class="service-one__right-text">Sed ut perspiciatis unde omnis iste natus
                                            error sit voluptem accusantium doloremu laudantium totam rem aperiam
                                            eaque upsa quae abillo inventore veritatis architecto</p>
                                        <ul class="service-one__right-list list-unstyled">
                                            <li><i class="fa fa-check-circle" aria-hidden="true"></i>Static
                                                Innovations</li>
                                            <li><i class="fa fa-check-circle" aria-hidden="true"></i>Consulting &
                                                Advisory</li>
                                            <li><i class="fa fa-check-circle" aria-hidden="true"></i>Turnaround
                                                Situations</li>
                                        </ul>
                                        <div class="buttons">
                                            <a routerLink="/services" class="thm-btn service-one-btn">Read
                                                More<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="tabs-content"></div>
        </div>
    </div>
</section>