<section class="why-choose-one why-choose-one-team-details">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="why-choose-one__content">
                    <div class="why-choose-one__content-top">
                        <h2>How Can Help You</h2>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusant doloremque
                            laudantium totam aperi eaque ipsa quae nventore veritquasi architecto beatae</p>
                    </div>
                    <ul class="why-choose-one__list list-unstyled">
                        <!-- Data -->
                        <li class="why-choose-one__list-single" *ngFor="let item of whyus">
                            <div class="icon">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                <h3>{{item.title}}</h3>
                                <p>{{item.text}}</p>
                            </div>
                        </li>
                        <!-- Data -->
                    </ul>
                </div>
            </div>
            <div class="col-xl-6 wow slideInRight" data-wow-delay="500ms" data-wow-duration="2500ms">
                <div class="why-choose-one__img">
                    <img src="assets/images/team/team-details-img2.jpg" alt="img" />
                </div>
            </div>
        </div>
    </div>
</section>