<section class="chart-one">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="chart-one__left">
                    <div class="section-title">
                        <div class="section-title__tagline">
                            <span class="left"></span>
                            <h4>Company Analysis</h4>
                        </div>
                        <h2 class="section-title__title">Les’s Look About Our<br>Company Statices</h2>
                    </div>
                    <p class="chart-one__left-text">Sed ut perspiciatis unde omnis iste natus error sit voluptem
                        accusantiu dolorem ulau dantium totam</p>
                    <div class="chart-one__btn">
                        <a routerLink="/contact" class="thm-btn">Get Free Quote <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 wow slideInRight" data-wow-delay="500ms" data-wow-duration="2500ms">
                <div class="chart-one__right">
                    <div class="chart-one__img">
                        <img src="assets/images/resources/chart-v1-img.jpg" alt="img" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>