<section class="about-three">
    <div class="container-fullwidth">
        <div class="about-three__img-box">
            <img src="assets/images/about/about-v3-1.jpg" alt="img" />
        </div>
        <div class="about-three__content-box">
            <div class="section-title">
                <div class="section-title__tagline">
                    <span class="left"></span>
                    <h4>Our Consultants</h4>
                </div>
                <h2 class="section-title__title">Build Your<br>Business With<br>Right Way</h2>
            </div>
            <p class="about-three__text">Quis autem vel eum iure reprehenderit ea voluptate velit esse quam
                nihil molestiae consequatur vel illum qui dolorem eum fugiat quo voluptas</p>
            <ul class="about-three-list list-unstyled">
                <li>
                    <div class="icon">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        <p>Static Innovations</p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        <p>Consulting & Advisory</p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        <p>Turnaround Situations</p>
                    </div>
                </li>
            </ul>
            <div class="buttons">
                <a routerLink="/about" class="thm-btn service-one-btn">Learn More<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</section>