<app-header></app-header>
<app-banner></app-banner>
<section class="features-one clearfix">
    <app-cta></app-cta>
</section>
<app-about-text></app-about-text>
<app-services></app-services>
<app-counter></app-counter>
<app-pop-services></app-pop-services>
<app-team></app-team>
<app-page-cta></app-page-cta>
<app-testimonials></app-testimonials>
<app-blogs></app-blogs>
<section class="partner-one">
    <app-partners></app-partners>
</section>
<app-info-blocks></app-info-blocks>
<app-footer></app-footer>