<section class="banner-one clearfix">
    <div class="shape1 wow slideInRight" data-wow-delay="500ms" data-wow-duration="3500ms"><img src="assets/images/shapes/banner-shape-1.png" alt="img" /></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="banner-one__inner-box">
                    <h2 class="banner-one__big-title">conbiz</h2>
                    <div class="banner-one__content">
                        <div class="section-title">
                            <div class="section-title__tagline wow slideInUp animated" data-wow-delay="0.2s" data-wow-duration="1500ms">
                                <span class="left"></span>
                                <h4>Consulting Agency</h4>
                            </div>
                            <h2 class="section-title__title  wow slideInUp animated" data-wow-delay="0.3s" data-wow-duration="1500ms">Business &<br>Technology <br>Consulting</h2>
                        </div>
                        <p class="banner-one__text wow slideInUp animated" data-wow-delay="0.4s" data-wow-duration="1500ms">Building a learning culture that drives business</p>
                        <div class="banner-one__btn wow slideInUp animated" data-wow-delay="0.5s" data-wow-duration="1500ms">
                            <a routerLink="/contact" class="thm-btn">Free Consultation <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="banner-one__banner-img wow slideInRight" data-wow-delay="500ms" data-wow-duration="2500ms">
                        <img src="assets/images/backgrounds/banner-img1.png" alt="img" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>