<section class="about-two">
    <div class="container">
        <div class="row">
            <!-- Start About Two Left-->
            <div class="col-xl-6">
                <div class="about-two__left">
                    <div class="about-two__big-title">
                        <h2>Conbiz</h2>
                    </div>
                    <div class="about-two__left-img-box">
                        <div class="about-two__left-img1">
                            <img src="assets/images/about/about-v2-img1.png" alt="img" />
                        </div>
                        <div class="about-two__left-img2 wow zoomIn" data-wow-delay="100ms" data-wow-duration="3500ms">
                            <img src="assets/images/about/about-v2-img2.jpg" alt="img" />
                            <div class="video-box">
                                <a class="video-popup wow zoomIn animated animated animated" data-wow-delay="300ms" data-wow-duration="1500ms" title=" Video Gallery" href="https://www.youtube.com/watch?v=TKnufs85hXk">
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End About Two Left-->
            <!-- Start About Two Right-->
            <div class="col-xl-6">
                <div class="about-two__right">
                    <div class="section-title">
                        <div class="section-title__tagline">
                            <span class="left"></span>
                            <h4>About Conbiz</h4>
                        </div>
                        <h2 class="section-title__title">Build Your Business<br>With Right Way</h2>
                    </div>
                    <div class="about-two__right-inner">
                        <p class="about-two__right-text">Sed ut perspiciatis unde omnis iste natus error sit
                            voluptem accusantium doloremu laudantium totam rem aperiam eaque upsa quae abillo
                            inventore veritatis architecto</p>
                        <div class="about-two__right-bottom">
                            <div class="icon">
                                <img src="assets/images/icon/about-one--about-icon1.png" alt="img" />
                            </div>
                            <div class="text">
                                <p>But must explain to you how all this mistaken idea of denouncing pleasure and
                                    praising pain was born will give you a complete account of the system, and
                                    expound the</p>
                            </div>
                            <div class="about-two__right-btn">
                                <a routerLink="/about" class="thm-btn">Learn More<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End About Two Right-->
        </div>
    </div>
</section>