<section class="service-two">
    <div class="service-two__bg" [style.background-image]="'url(assets/images/backgrounds/service-two-bg.png)'">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <div class="service-two__content-box">
                    <div class="section-title">
                        <div class="section-title__tagline">
                            <span class="left"></span>
                            <h4>What We Do</h4>
                        </div>
                        <h2 class="section-title__title">We Provide Exclusive<br>Marketing Service</h2>
                    </div>
                    <div class="service-two__inner">
                        <div class="row">
                            <!--Start Single Service Two-->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" *ngFor="let item of serviceblock | slice:0:4">
                                <div class="service-two__single">
                                    <div class="service-two__single-icon">
                                        <img [src]="item.icon" [alt]="item.title" />
                                    </div>
                                    <div class="service-two__single-text">
                                        <h4><a routerLink="/service-details/{{item.id}}">{{item.title}}</a></h4>
                                        <p>{{item.shorttext | slice:0:70}}</p>
                                    </div>
                                </div>
                            </div>
                            <!--End Single Service Two-->
                        </div>
                        <div class="service-two__btn">
                            <a routerLink="/services" class="thm-btn">Learn More<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 wow slideInRight" data-wow-delay="500ms" data-wow-duration="2500ms">
                <div class="service-two__img-box">
                    <div class="service-two__img">
                        <img src="assets/images/services/service-v2-img1.png" alt="img" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>