<section class="cta-one jarallax bg-fixed" [style.background-image]="'url(assets/images/resources/cta-v1-bg-img.jpg)'">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="cta-one__wrapper">
                    <div class="section-title text-center">
                        <div class="section-title__tagline">
                            <span class="left"></span>
                            <h4>Popular Service</h4><span class="right"></span>
                        </div>
                        <h2 class="section-title__title">Take a Look Our Unmatched<br>Consulting Approach</h2>
                    </div>
                    <div class="cta-one__btn-box text-center">
                        <a routerLink="/contact" class="thm-btn">Get Free Quote <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        <div class="video-button">
                            <a class="video-popup video-btn" title="Conbiz Video Gallery" href="https://www.youtube.com/watch?v=TKnufs85hXk">
                                <span class="txt">cause video</span><i class="fa fa-play" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>