<section class="cta-one cta-one--cta-two jarallax bg-fixed" [style.background-image]="'url(assets/images/resources/cta-v2-bg-img.jpg)'">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="cta-one--cta-two__wrapper">
                    <div class="cta-one__wrapper">
                        <div class="section-title">
                            <div class="section-title__tagline">
                                <span class="left"></span>
                                <h4>Request a Quote</h4>
                            </div>
                            <h2 class="section-title__title">Let’s Get To Work Together<br>Ready To Work Us</h2>
                        </div>
                        <div class="cta-one__btn-box">
                            <a routerLink="/contact" class="thm-btn">Get Free Quote <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            <div class="video-button">
                                <a class="video-popup video-btn" title="Conbiz Video Gallery" href="https://www.youtube.com/watch?v=TKnufs85hXk">
                                    <span class="txt">cause video</span><i class="fa fa-play" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="cta-one--cta-two__video-box wow zoomIn" data-wow-delay="100ms" data-wow-duration="3500ms">
                        <div class="icon wow zoomIn" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <a class="video-popup link" title="Video Gallery" href="https://www.youtube.com/watch?v=TKnufs85hXk">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </a>
                            <span class="border-animation border-1"></span>
                            <span class="border-animation border-2"></span>
                            <span class="border-animation border-3"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>