<section class="about-one">
    <div class="container">
        <div class="row">
            <!-- Start About One Left-->
            <div class="col-xl-6">
                <div class="about-one__left">
                    <div class="shape1 float-bob-y"><img src="assets/images/shapes/thm-shape-1.png" alt="img" />
                    </div>
                    <div class="about-one__left-img">
                        <img src="assets/images/about/about-v1-1.jpg" alt="img" />
                    </div>
                    <div class="about-one__left-bottom">
                        <div class="about-one__logo">
                            <img src="assets/images/about/about-v1-logo.png" alt="img" />
                        </div>
                        <div class="about-one__video-gallery wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <img src="assets/images/about/about-v1-2.jpg" alt="img" />
                            <div class="video-box">
                                <a class="video-popup wow zoomIn animated animated" data-wow-delay="300ms" data-wow-duration="1500ms" title=" Video Gallery" href="https://www.youtube.com/watch?v=TKnufs85hXk">
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End About One Left-->
            <!-- Start About One Right-->
            <div class="col-xl-6">
                <div class="about-one__right">
                    <div class="section-title">
                        <div class="section-title__tagline">
                            <span class="left"></span>
                            <h4>About Conbiz</h4>
                        </div>
                        <h2 class="section-title__title">Build Your Business <br>With Right Way</h2>
                    </div>
                    <div class="about-one__right-inner">
                        <h5 class="about-one__right-tagline">25 Years of experience in consulting service</h5>
                        <p class="about-one__right-text">Sed ut perspiciatis unde omnis iste natus error sit
                            voluptem accusantium doloremu laudantium totam rem aperiam eaque upsa quae abillo
                            inventore veritatis architecto</p>
                        <div class="about-one__author-box">
                            <div class="img-box">
                                <img src="assets/images/about/about-v1-author.png" alt="img" />
                            </div>
                            <div class="title">
                                <h3>Business & Consulting</h3>
                                <p>Quis autem vel eumiure reprehen quein<br>voluptate esse quam molestiae</p>
                                <h5>Lewis G. Valazquez</h5>
                            </div>
                        </div>
                        <div class="about-one__btn">
                            <a routerLink="/about" class="thm-btn">Learn More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End About One Right-->
        </div>
    </div>
</section>